@import "./mixins";

.navbar {
  width: 100%;
  background-color: #fff;
  color: #0b0b0b;
  z-index: 5;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);

  @include minReduction {
    height: 110px;
  }

  li {
    cursor: pointer;
  }

  .navbar_container {
    display: flex;
    // position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1060px;
    height: 50px;
    margin: auto;

    @include tablet {
      width: 90%;
    }
    @include mobile {
      margin: 0;
      padding: 15px 20px;
    }

    ul {
      list-style: none;
    }
  }

  .navbar_dropmenu_wrapper {
    display: flex;
    text-align: center;
    justify-content: space-between;
    @include tablet {
      height: 60px;
      width: 100%;
      padding: 15px 0;
    }
    @include mobile {
      // height: 60px;
      width: 100%;
    }

    .navbar_button_logo_wrapper {
      display: flex;
      text-align: center;
      justify-content: space-around;
      @include minReduction {
        padding-top: 5px;
      }
    }

    .navButton {
      width: 17px;
      height: 22px;
      margin-right: 15px;
    }

    img {
      width: 17px;
      height: 14px;
      object-fit: contain;
      cursor: pointer;
    }

    .logoButton {
      width: 74.38px;
      height: 20px;
    }

    #heder_logo_image {
      width: 74.38px;
      height: 16.8px;
      cursor: pointer;
    }

    #gnbSignupBtn {
      display: none;
      background-color: #fff;
      color: #36f;
      font-size: 14px;
      line-height: 32px;
      width: 114px;
      height: 34px;
      border: 1px solid #36f;
      border-radius: 17px;
      padding: 0 14px;
      @include minReduction {
        display: inline-block;
      }
    }
  }

  .navbar_main_menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    line-height: 0px;
    color: #333333;
    @include tablet {
      font-size: 13px;
    }
    @include mobile {
      display: none;
    }

    li {
      padding: 15px;
      @include tablet {
        padding: 11px 10px 19px;
      }
    }

    li > span {
      width: 18px;
      height: 11px;
      padding: 1px;
      color: #36f;
      font-family: "AppleSDGothicNeo-SemiBold", "Apple SD Gothic Neo";
      font-size: 9px;
      font-weight: 500;
      position: absolute;
      top: 7px;
      pointer-events: none;
      font-style: normal;
      @include tablet {
        top: 3px;
      }
    }
  }

  .xsnavbar_main_menu {
    width: 174px;
    display: none;

    li {
      padding: 11px 10px 19px;
      height: inherit;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      font-size: 14px;
      line-height: 40px;
      font-weight: 600;
      display: inline-block;
    }

    @include mobile {
      display: inline-flex;
      text-align: left;
      height: inherit;
      margin: 0;
    }
  }

  .navbar_aside_menu {
    height: 100%;
    padding: 10px 0;

    ul {
      display: flex;
      justify-content: space-between;
      text-align: center;
      vertical-align: middle;
      position: relative;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      color: #333333;
      height: 30px;

      li {
        line-height: 30px;
      }

      .searchButton {
        margin: 5px 0px 0px;
        padding: 0px 10px;
        // @include miniPc {
        //   padding: 0 5px;
        // }
      }

      .search_icon {
        width: 18px;
        height: 18px;
      }

      .signButton {
        margin-right: 6px;
        padding: 0 10px;
        @include miniPc {
          margin: 0;
          padding: 0 3px;
        }
        @include minReduction {
          display: none;
        }
      }

      .dashboardButton {
        font-size: 13px;
        color: #666;
        height: 30px;
        border: 1px solid #e1e2e3;
        border-radius: 15px;
        padding: 0 10px;
        margin-left: 20px;
        font-weight: 400;
        @include miniPc {
          margin: 0;
        }
        @include minReduction {
          display: none;
        }
      }

      .leftDevision {
        display: inline-flex;
        &:before {
          content: "";
          display: block;
          width: 1px;
          color: #666;
          height: 10px;
          background-color: #e1e2e3;
          margin: auto 10px;
          @include minReduction {
            display: none;
          }
        }
      }

      .moreMenuToggle {
        display: none;
        padding: 0px 5px 0px 10px;
        margin-top: 5px;

        @include minReduction {
          display: inline-block;
        }

        .moreMenuToggle_icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
