@import "./mixins";

.slide_button {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  @include minReduction {
    display: none;
  }

  &.prev_button {
    left: calc((100% - 1210px) / 2);
  }

  &.next_button {
    right: calc((100% - 1200px) / 2);
  }
}

.slide_stayed {
  display: none;
  filter: brightness(50%);
}
